# Core ML / RAG
faiss-cpu
numpy
sentence-transformers

# LLM
groq

# Environment
python-dotenv

# Web + UI
streamlit

# Computer Vision
opencv-python
mediapipe

# Data handling
pandas

# Utilities
requests
joblib